*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imagenes/portadas/toneles2.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
