//paletas de colores

$primary-color: rgb(87, 19, 19);
$secondary-color: rgb(122, 77, 77);
$tercitary-color : rgb(119, 48, 48);
$light: rgb(216, 191, 191);
$transparent: rgba(253, 251, 251, 0.315);
$dark: rgb(15, 14, 14);