.pagosyenvios {
    @include flex(column, center, start, 20px);
    padding: 1rem;
    

    .logistica{
        text-align: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.555);
        

        h2 {
            font-size: 35px;
            color: $light;
            font-weight: 900;
            font-style: oblique;
        
        }
        
        p{
            font-size: 25px;
            font-weight: 400;
            color: $light;
        }
    

    }
    
    
}



